mode: daemonset

image:
  repository: "otel/opentelemetry-collector-contrib"
  pullPolicy: IfNotPresent

presets:
  hostMetrics:
    enabled: true
  kubernetesEvents:
    enabled: true
  kubernetesAttributes:
    enabled: true

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    
    prometheus:
      config:
        scrape_configs:
          - job_name: 'otel-collector'
            scrape_interval: 10s
            static_configs:
              - targets: ['0.0.0.0:8888']

  processors:
    batch:
      send_batch_size: 1000
      timeout: 10s
    memory_limiter:
      check_interval: 1s
      limit_percentage: 70
      spike_limit_percentage: 30

  exporters:
    otlp/tempo:
      endpoint: "tempo.observability:4317"
      tls:
        insecure: true

    prometheusremotewrite/vm:
      endpoint: "http://victoriametrics-victoria-metrics-single-server.observability:8428/api/v1/write"

    debug:
      verbosity: basic

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, k8sattributes, batch]
        exporters: [otlp/tempo, debug]
      
      metrics:
        receivers: [otlp, prometheus, hostmetrics]
        processors: [memory_limiter, k8sattributes, batch]
        exporters: [prometheusremotewrite/vm]
      
      logs:
        receivers: [otlp]
        processors: [memory_limiter, k8sattributes, batch]
        exporters: [debug]

hostNetwork: false

ports:
  otlp:
    enabled: true
    containerPort: 4317
    servicePort: 4317
    hostPort: 4317
    protocol: TCP
  otlp-http:
    enabled: true
    containerPort: 4318
    servicePort: 4318
    hostPort: 4318
    protocol: TCP